<h2>
    Amazon Web Services
</h2>
<div class="row">    
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header> Certifications </nb-card-header>
            <nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header> Courses </nb-card-header>
            <nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">    
        <div class="col-lg-12">
                <nb-card>
                    <nb-card-header> Books </nb-card-header>
                    <nb-card-body>
        
                    </nb-card-body>
                </nb-card>
        </div>
</div>
